
<div class="login-container">
  <div class="login-header" style="text-align: center; margin-bottom: 20px;">
    <h2 style="font-weight: bold; font-size: 24px;">LOGIN</h2>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">

    <!-- Username Field -->
    <mat-form-field appearance="outline">
      <mat-label>Email*</mat-label>
      <input matInput type="text" placeholder="Email*" 
             (input)="updateErrorMessage('username')"
             formControlName="username">
      @if (form.controls['username'].invalid) {
        <mat-error>{{ errorMessage.username() }}</mat-error>
      }
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field appearance="outline">
      <mat-label>Password*</mat-label>
      <input matInput type="password" placeholder="Password*"
             (input)="updateErrorMessage('password')"
             formControlName="password">
      @if (form.controls['password'].invalid) {
        <mat-error>{{ errorMessage.password() }}</mat-error>
      }
    </mat-form-field>

    <!-- Dynamic Fields: Only show in 'register' mode -->
    @if (mode === 'register') {

      <!-- Confirm Password Field -->
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" placeholder="confirm password"
               (input)="updateErrorMessage('confirm_password')"
               formControlName="confirm_password">
        @if (form.controls['confirm_password'].invalid) {
          <mat-error>{{ errorMessage.confirm_password() }}</mat-error>
        }
      </mat-form-field>

      <!-- Display Name Field -->
      <mat-form-field appearance="outline">
        <mat-label>Display Name</mat-label>
        <input matInput type="text" placeholder="display name"
               (input)="updateErrorMessage('display_name')"
               formControlName="display_name">
        @if (form.controls['display_name'].invalid) {
          <mat-error>{{ errorMessage.display_name() }}</mat-error>
        }
      </mat-form-field>

    }

    <!-- Submit Button -->
    <button mat-raised-button type="submit" class="blue" [disabled]="!form.valid">
      @if (mode === 'login') { Login }
      @if (mode !== 'login') { GET START }
    </button>

  </form>

  <!-- Toggle Text: "or" -->
  <div class="login-spacer">or</div>

  <!-- Toggle Link: Switch between Login / Register -->
  @if (mode === 'login') {
    <div class="toggle">
      New to Brawler? <span (click)="toggleMode()">Sign Up</span>
    </div>
  }

  @if (mode !== 'login') {
    <div class="toggle">
      Already have an account? <span (click)="toggleMode()">Log in</span>
    </div>
  }

</div>
@if(errorFromServer !== '') {
  <span class="error">{{errorFromServer}}</span>
}
