<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Set New Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            @if (isResetSuccess()) {
            <div class="success-message">
                <p>Your password has been reset successfully!</p>
                <button mat-raised-button class="blue" (click)="goToLogin()">Go to Login</button>
            </div>
            } @else {
            <form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">

                <!-- Password Field -->
                <mat-form-field appearance="fill" class="zen-input">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" placeholder="Enter new password"
                        (input)="updateErrorMessage('password')" formControlName="password">
                    @if (form.controls['password'].invalid) {
                    <mat-error>{{ errorMessage.password() }}</mat-error>
                    }
                </mat-form-field>

                <!-- Confirm Password Field -->
                <mat-form-field appearance="fill" class="zen-input">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput type="password" placeholder="Confirm new password"
                        (input)="updateErrorMessage('confirm_password')" formControlName="confirm_password">
                    @if (form.controls['confirm_password'].invalid) {
                    <mat-error>{{ errorMessage.confirm_password() }}</mat-error>
                    }
                </mat-form-field>

                <!-- Submit Button -->
                <button mat-raised-button type="submit" class="blue" [disabled]="!form.valid || isLoading() || !token">
                    @if (isLoading()) {
                    <span class="loader loader-sm"></span>
                    } @else {
                    Reset Password
                    }
                </button>

            </form>
            }

            @if(errorFromServer !== '') {
            <span class="error">{{errorFromServer}}</span>
            }

            <div class="toggle">
                <span (click)="goToLogin()">Back to Login</span>
            </div>

        </mat-card-content>
    </mat-card>
</div>