.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview {
  margin-bottom: 16px;
}

.image-preview img {
  max-width: 200px;
  max-height: 200px;
}

.error-msg {
  color: red;
}