.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 12px 20px;
  background-color: #d23219;
  color: white;
  font-size: 18px;
}

.navbar-left {
  font-weight: bold;
}

.navbar-right {
  font-size: 16px;
}